.cart_container {
    width: 100%;
    background-color: $ligth-color;
    display: flex;
    justify-content: space-evenly;

}
.img-prueba{
    width: 180px;
}
.cart-icons{
    width: 20px;
    margin-left: 5px;
}
.total_container{
    justify-content: flex-end;
}