$primary-color: #77529E;
$secondary-color: #EFA5AB;
$accent-color: #97D7D5;
$ligth-color: #fff;
$dark-color: #3C3C3B; 

.header{
    width: 100%;
    background-color:$primary-color;
    display: flex;
    height: 200px;
    &__container{
    }
    &__brand{
        margin: 80px;
        // background-color: darkgreen;
    }
   
    &__img{
       width: 200px;
    }
    &__menu{
        font-size: 1.3rem;
        padding-top:30px;
        padding-left: 50px;
        // background-color: darkorange;
         ul {
            list-style: none;
            width: 500px;
            color: $ligth-color;
            li {
                a{
                    color: $ligth-color;
                    text-decoration: none;
                    cursor: pointer;
                    &:hover {
                        color: $accent-color;
                    }
                 }
            }
        }

    }
}
    
.header-icons__menu{
    padding-top: 20px;
    height: 50px;
    // background-color: cyan;
}

.img-user{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.header-icons__item{
    
}

.header-alert{
    display: flex;
    flex-direction: column;
   color: #F2F0EB;
}