.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.6);
    position: fixed;
    z-index: 3;
    padding: 1rem;
    width: 100%;
    min-height:100vh;
    left: 50%;
    top: 300px; 
    transform: translate(-50%, -50%);
    
    &__container{
      background-color:#ffffff;
      width: 50%;
       }
  &__header{
    background-color:#77529E;
    color: $ligth-color;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.7em;
  }
  &__form{
    width: 100%;
   padding-top: 1rem;
    input[type='text'], [type='email']{
      background: none;
      border-radius: 15px;
      border: solid 2px #EFA5AB;
      color: #474544;
      font-size: 1em;
      font-weight: 400;
      margin: 0 0 1.875em 0;
      padding: 0 0 0.875em 0;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-left: auto;
      margin-right: auto ;
      width: 70%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  input[type='text']:focus, [type='email']:focus{
    outline: none;
    padding: 0 0 0.875em 0;
}

  }
  &__social{
    text-align: center;
    margin-top: 10px;
    
  }
  &__fb{
    font-family: "Open Sans";
    background-color: #3b5998;
    width:250px;;
    border-radius: 25px;
    color: $ligth-color;
    border: none;
    padding: 6px;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1.2em;
    
    &:hover {
      background-color: $accent-color;
      transition: all .2s linear;
      }
  }
  
}


