.Modal__container{
    position: relative;
    top: 10rem;
    background-color: #ffffff;
    padding: 1rem;
    width: 400px;
}

.Modal__close-button{
position: absolute;
top: 0;
right: 0;
border: 0;
background-color: aqua;
padding: 0.5rem, 1rem;
}